APP_BOT_TOKEN=123456789:ABCDFldaskfjssaem

# Строка подключения (Data Source Name или DSN) локально
APP_DB_URL=postgresql+asyncpg://botalov:botalov@127.0.0.1:5435/bot_db

# DSN postgres при подключении в docker compose
APP_DB_URL=postgresql+asyncpg://botalov:botalov@db/bot_db


# example .env_database

POSTGRES_DB=bot_db
POSTGRES_USER=botalov
POSTGRES_PASSWORD=botalov